<div id="sunshine-carousel" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#sunshine-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#sunshine-carousel" data-slide-to="1"></li>
    <li data-target="#sunshine-carousel" data-slide-to="2"></li>
  </ul>

  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="<%= asset_path('blog-1.jpg') %>" alt="Los Angeles">
      <div class="carousel-caption">
        <h3>Los Angeles</h3>
        <p>We had such a great time in LA!</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="<%= asset_path('blog-2.jpg') %>" alt="Chicago">
      <div class="carousel-caption">
        <h3>Los Angeles</h3>
        <p>We had such a great time in LA!</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="<%= asset_path('blog-3.jpg') %>" alt="New York">
      <div class="carousel-caption">
        <h3>Los Angeles</h3>
        <p>We had such a great time in LA!</p>
      </div>
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#sunshine-carousel" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>

  <a class="carousel-control-next" href="#sunshine-carousel" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>

</div>

<style type="text/css">
  #sunshine-carousel img {
    width: 100%;
    height: 400px;
  }
</style>