<div class="jumbotron">
	<div id="find-job-div">
		<div id="job-text-div">
			<div id="job-text">Find Your Ideal Job Here</div>
		</div>
		<div>
			<form>
			  <div class="row">
			    <div class="col">
			    	<strong>Keyword</strong>
			      <input type="text" class="form-control" placeholder="Enter Your Skills">
			    </div>
			    <div class="col">
			    	<strong>Location</strong>
			      <input type="text" class="form-control" placeholder="Enter preferred location">
			    </div>
			    <div class="col">
			    	<strong>Functional Area</strong>
			      <input type="text" class="form-control" placeholder="Enter Functional Area">
			    </div>
			    <div class="col">
			    	<strong>Experience</strong>
			      <input type="text" class="form-control" placeholder="Enter Experience in years">
			    </div>
			    <div class="col">
			      <button class="btn btn-danger">Search Job </button>
			    </div>
			  </div>
			</form>
		</div>
	</div>
</div>

<style type="text/css">
	#find-job-div form {
		padding: 15px;	
		width: 95%;
		margin-left: auto;
		margin-right: auto;
	}
	#find-job-div strong {
		font-size: 15px;
	}
  
  #find-job-div {
  	border: 1px solid rgba(0,0,0,0.13);
  	width: 100%;
  	height: 140px;
  }

  #find-job-div input[type="text"] {
  	height: 35px;
  	border: 1px solid rgba(0,0,0,0.2);
  	font-family: serif;
  	text-shadow: 1px 1px rgba(255,255,255,0.749);
  }

  #find-job-div button {
  	margin-top: 20px;
  }

	#job-text {
		color: red;
		font-weight: bold;
	}

	#job-text-div {
		width: 100%;
		padding: 8px;
		border-bottom: 2px solid red;
	}
</style>