<section id="topbar" class="d-none d-lg-block">
  <div class="container d-flex">
    <div class="contact-info mr-auto">
      <ul>
        <li><i class="fa fa-envelope-o"></i><a href="mailto:sunshinemtech@gmail.com">sunshinemtech@gmail.com</a></li>
        <li><i class="fa fa-phone"></i> +91 8286112112, 8698758590</li>
        <li><i class="fa fa-clock-o"></i> Mon-Fri 9am - 5pm</li>
      </ul>

    </div>
    <div class="cta">
      <a href="#about" class="scrollto">Get Started</a>
    </div>
  </div>
</section>