<div id="topbar">
  <div class="d-flex justify-content-between">
    <div>
      <img src="<%= asset_path("sunshinelogo.png") %>" alt="sunshinelogo" class="sunshinelogo">
    </div>
    <div id="email-call">
      <ul>
        <li><i class="fa fa-envelope-o"></i><a href="mailto:sunshinemtech@gmail.com">SEND EMAIL</a></li>
        
        <li><i class="fa fa-envelope-o"></i><a href="mailto:sunshinemtech@gmail.com">SEND SMS</a></li>
      </ul>
    </div>
  </div>
</div>